body {
    background-image: linear-gradient(to top, hsl(0, 80%, 10%), hsl(0, 87%, 5%));
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: system-ui;
    text-align: center;
    font-size: x-large;
    padding: 100px 5%;
}

div.warning {
    padding: 5px 20px;
    margin: 30px auto;
    width: fit-content;
    background-color: hsl(0, 73%, 21%);
    border: solid 1px #FFF1;
    border-radius: 20px;
    font-size: medium;
    box-shadow: 0 3px 15px 0 #0004;
}

div.buttons {
    margin: 5%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    & a {
        text-decoration: none;
    }

    & a > div {
        gap: 10px;
        width: 300px;
        height: 200px;
        justify-content: center;
        align-content: center;
        border: solid 2px #FFF1;
        background-size: cover;
        transition: all 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000);
        border-radius: 15px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            border-color: #FFF2;
            box-shadow: 0 5px 15px 0 #0008;
        }

        & > img {
            margin: auto;
            max-width: 90%;
            max-height: 90%;
        }
    }
}

img.logo {
    width: 384px;
}

div[title="rule34.xxx"] {
    background-image: linear-gradient(to bottom, hsl(115, 32%, 8%), hsl(115, 29%, 11%));
}
div[title="e621.net"] {
    background-image: linear-gradient(to bottom, hsl(220, 32%, 8%), hsl(220, 29%, 11%));
}

div[title="kurosearch.com"] {
    background-image: linear-gradient(to bottom, hsl(270, 32%, 8%), hsl(270, 29%, 11%));
}
