:root {
    --accent-0: #040a04;
    --accent-1: #0f1a0e;
    --accent-2: #152414;
    --accent-3: #20361e;
    --accent-4: #32552f;
    --accent-5: #b1e7ac;
    
    & body {
        background-image: linear-gradient(to bottom, var(--accent-1), var(--accent-2));
        background-attachment: fixed;
        background-size: cover;
        color: white;
        padding: 125px 5%;
        margin: 0;
        font-family: system-ui;
        & a {
            text-decoration: none;
            color: white;
            width: fit-content;
        }
    }
}

div.warning {
    padding: 5px 20px;
    margin: 30px auto;
    width: fit-content;
    background-color: hsl(0, 73%, 21%);
    border: solid 1px #FFF1;
    border-radius: 20px;
    font-size: medium;
    box-shadow: 0 3px 15px 0 #0004;
}

#menuBar {
    z-index: 2;
    width: 100%;
    display: flex;
    position: fixed;
    padding: 5px 5% 5px 5%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, var(--accent-1), transparent);
}

#pageBar {
    z-index: 2;
    width: 100%;
    display: flex;
    position: fixed;
    padding: 5px 5% 5px 5%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, var(--accent-1), transparent);
}

#searchBar {
    width: 500px;
    max-width: 75%;
    padding: 5px;
    margin: 5px;
    border: solid 1px #FFF3;
    border-radius: 10px;
    background-color: #fbfbb3;
    font-size: 20px;
    font-family: monospace;
    color: black;
    outline: 0;
    transition:
        box-shadow 100ms cubic-bezier(0.390, 0.575, 0.565, 1.000),
        transform 50ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    &:active {
        transform: translateY(2px);
    }
    &:focus {
        box-shadow: 0 3px 5px 3px #fbfbb344;
    }
}

.menuButton {
    display: flex;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-family: system-ui;
    background-color: var(--accent-4);
    border: solid 1px #FFF3;
    border-radius: 10px;
    color: white;
    align-content: center;
    justify-content: center;
    transition: all 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    
    &:enabled {
        opacity: 1;
        cursor: pointer;
        &:hover,
        a:hover & {
            box-shadow: 0 0 5px 3px var(--accent-4);
        }
        &:active,
        a:active & {
            transform: translateY(2px);
        }
    }
    &:disabled {
        opacity: 0.25;
        a > & {
            pointer-events: none;
        }
    }

    & span {
        font-size: 1em;
    }
    
    select& {
        display: flex;
        padding: 5px 10px;
        margin: 5px;
        font-size: 1em;
        font-family: system-ui;
        background-color: var(--accent-4);
        border: solid 1px #FFF3;
        border-radius: 10px;
        color: white;
        align-content: center;
        justify-content: center;
        transition: all 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000);
        &:enabled {
            opacity: 1;
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 5px 3px var(--accent-4);
            }
            &:active {
                transform: translateY(2px);
            }
        }
        &:disabled {
            opacity: 0.25;
        }
    }
}

#pageCount {
    height: 26px;
    padding: 5px;
    margin: 5px;
    align-content: center;

}

#postDisplay {
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "tags imageDisplay"
        "buttons buttons"
        "moreInfo comments"
        "raw raw";

    &:has(#family > div > div) {
        grid-template-areas:
            "family imageDisplay"
            "tags imageDisplay"
            "buttons buttons"
            "moreInfo comments"
            "raw raw";
    }
}

#family {
    grid-area: family;
    display: none;
    & > * {
        display: none;
    }
    &:has(div > div) {
        display: block;
    }

    #parent:has(+ div > div),
    #parent + div:has(div) {
        display: block;
    }
    #children:has(+ div > div),
    #children + div:has(div)  {
        display: block;
    }

    #parent + div > div {
        display: flex;
        max-height: 20vh;
        width: 100%;
        overflow: hidden;
        border: solid 1px #FFF1;
        border-radius: 10px;
        filter: none;
        background-image: linear-gradient(to bottom, var(--accent-0), var(--accent-1));
        transition: all 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000);
        &:hover {
            filter: drop-shadow(0 10px 15px #0008);
        }
        &:active {
            border: solid 1px #FFF3;
            transform: scale(0.95) rotate(2deg);
            filter: drop-shadow(0 10px 30px #fff3);
        }
        & > a {
            display: block;
            & > img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }
}

#imageDisplay {
    display: flex;
    max-height: 75vh;
    width: 100%;
    grid-area: imageDisplay;
    overflow: hidden;
    border: solid 1px #FFF1;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, var(--accent-0), var(--accent-1));
    background-attachment: fixed;
    background-size: cover;

    & > * {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

#buttons {
    grid-area: buttons;
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
}

div.button {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    font-family: system-ui;
    overflow-wrap: break-word;
    background-color: var(--accent-4);
    border: solid 1px #FFF3;
    border-radius: 10px;
    color: white;
    transition:
        box-shadow 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000),
        transform 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000);

    &:hover {
        box-shadow: 0 0 5px 3px var(--accent-4);
    }
    &:active {
        transform: translateY(2px);
    }
    & svg {
        vertical-align: bottom;
    }
}

div.card {
    background-color: var(--accent-3);
    padding: 20px;
    border: solid 1px #FFF1;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000);

    &:hover {
        box-shadow: 0 3px 5px 3px #20361e44;
    }

    & *::selection {
        color: var(--accent-1);
        background-color: var(--accent-5);
    }

    & > .label {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: larger;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: solid #FFF2 2px;
    }
}

#tags {
    overflow-y: scroll;
    grid-area: tags;
    min-width: min-content;
    max-height: 75vh;
}
#tagList {
    & ul {
        list-style-type: none;
        margin: 10px 0;
        padding: 0;
    }
    & li {
        display: inline-flex;
        width: fit-content;
        color: rgba(var(--color));
        border: solid rgba(var(--color)) 2px;
        border-radius: 5px;
        background-image:
            linear-gradient(rgba(var(--color), 0.2), rgba(var(--color), 0.2)),
            linear-gradient(black, black);
        padding: 2px 5px;
        margin: 2px;
        transition: all 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000);
        overflow-wrap: break-word;

        &:hover {
            background-image:
                linear-gradient(rgba(var(--color), 0.3), rgba(var(--color), 0.3)),
                linear-gradient(black, black);
            box-shadow: 0 0 5px 3px rgba(var(--color), 0.2);
        }
    }
    & a {
        width: fit-content;
    }
}
#tagCopyright   { --color: 240, 160, 240; }
#tagCharacter   { --color: 176, 224, 176; }
#tagArtist      { --color: 240, 160, 160; }
#tagGeneral     { --color: 145, 191, 237; }
#tagMetadata    { --color: 240, 240, 160; }

#moreInfo {
    grid-area: moreInfo;
    height: fit-content;
    & tbody {
        display: grid;
        grid-template-columns: 1fr;
        & tr {
            display: grid;
            grid-template-columns: fit-content fit-content;
            &:nth-child(0) {
                width: fit-content;
            }
            & span {
                justify-self: start;
            }
        }
    }
}

#rawPostInfo {
    grid-area: raw;
}

div.raw {
    background-color: #10141f;
    padding: 10px;
    border: solid 1px #FFF1;
    & pre {
        color: white;
        width: calc(100% - 20px);
        margin: 0;
        padding: 0;
        padding-left: 2ch;
        text-indent: -2ch;
        word-break: break-all;
        white-space: pre-wrap;
        &::selection {
            background-color: white;
            color: #10141f;
        }
    }
}

@media (max-width: 800px) {
    #postDisplay {
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-template-areas: "imageDisplay" "buttons" "moreInfo" "tags" "comments" "raw";

        &:has(#family > div > div) {
            grid-template-areas: "imageDisplay" "buttons" "family" "moreInfo" "tags" "comments" "raw";
        }
    }
}

#searchDisplay {
    margin: 0 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    & > div {
        &.post {
            display: flex;
            justify-content: center;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            border: solid 1px #FFF1;
            border-radius: 10px;
            filter: none;
            z-index: 0;
            background-image: linear-gradient(to bottom, var(--accent-0), var(--accent-1));
            transition: all 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000);
            & > a {
                display: block;
                width: 100%;
                height: 100%;
                & > img, video {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    align-self: center;
                }
            }
        }
        &.postVideo {
            border: ridge 4px #4a63ed;
        }
        &.postGif {
            border: ridge 4px #71d1d9;
        }
        &:hover {
            border: solid 1px #FFF1;
            transform: scale(1.25);
            filter: drop-shadow(0 10px 30px #0008);
            z-index: 1;
        }
        &:active {
            border: solid 1px #FFF3;
            transform: scale(1.1) rotate(2deg);
            filter: drop-shadow(0 10px 30px #fff3);
            z-index: 1;
        }
    }
}
