:root {
    --accent-1: #0f1a0e;
    --accent-2: #152414;
    --accent-3: #20361e;
    --accent-4: #32552f;
    --accent-5: #b1e7ac;
}

body {
    background-image: linear-gradient(to bottom, var(--accent-1), var(--accent-2));
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding: 100px 5%;
    margin: 0;
    font-family: system-ui;
}
a {
    text-decoration: none;
    color: white;
}

#menuBar {
    width: 90%;
    display: flex;
    position: fixed;
    top: 5px;
}

#searchBar {
    width: 500px;
    max-width: 75%;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: #FFF3;
    border-width: 1px;
    border-radius: 10px;
    background-color: #fbfbb3;
    font-size: 20px;
    font-family: monospace;
    color: black;
    outline: 0;
    transition:
        box-shadow 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000),
        transform 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
#searchBar:active {
    transform: translateY(2px);
}
#searchBar:focus {
    box-shadow: 0 3px 5px 3px #fbfbb344;
}

#submit {
    display: flex;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: system-ui;
    background-color: var(--accent-4);
    border-style: solid;
    border-width: 1px;
    border-color: #FFF3;
    border-radius: 10px;
    color: white;
    align-content: center;
    justify-content: center;
    transition:
        box-shadow 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000),
        transform 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
#submit:hover {
    box-shadow: 0 0 5px 3px var(--accent-4);
}
#submit:active {
    transform: translateY(2px);
}

#version {
    background-color: black;
    color: white;
    padding: 5px;
    margin: auto;
}

#postDisplay {
    width: 100%;
    grid-template-areas:
        "tags imageDisplay imageDisplay"
        "buttons buttons buttons"
        "raw raw raw";
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 50vh;
}

@media (max-width: 800px) {
    #postDisplay {
        grid-template-areas: "imageDisplay" "buttons" "tags" "raw";
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
    }
}

#imageDisplay {
    display: flex;
    height: 100%;
    max-width: 100%;
    margin: auto;
    grid-area: imageDisplay;
    overflow: hidden;

}
#imageDisplay > * {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #FFF1;
    border-radius: 10px;
    max-height: calc(100% - 2px);
    align-self: center;
}

#buttons {
    grid-area: buttons;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

div.button {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    font-family: system-ui;
    background-color: var(--accent-4);
    border-style: solid;
    border-width: 1px;
    border-color: #FFF3;
    border-radius: 10px;
    color: white;
    transition:
        box-shadow 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000),
        transform 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
div.button:hover {
    box-shadow: 0 0 5px 3px var(--accent-4);
}
div.button:active {
    transform: translateY(2px);
}
div.button svg {
    vertical-align: bottom;
}

div.card {
    background-color: var(--accent-3);
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFF1;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
div.card:hover {
    box-shadow: 0 3px 5px 3px #20361e44;
}
div.card *::selection {
    color: var(--accent-1);
    background-color: var(--accent-5);
}

div.card > .label {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: larger;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: solid #FFF2 2px;
}

#tags {
    overflow-y: scroll;
    grid-area: tags;
    min-width: min-content;
}
#tagList ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 10px 0;
    padding: 0;
}
#tagList li {
    display: inline-flex;
    width: fit-content;
    color: rgba(var(--color));
    border: solid rgba(var(--color)) 2px;
    border-radius: 5px;
    background-image:
        linear-gradient(rgba(var(--color), 0.2), rgba(var(--color), 0.2)),
        linear-gradient(black, black);
    padding: 2px 5px;
    margin: 2px;
    transition: all 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    overflow-wrap: break-word;
}
#tagList li:hover {
    background-image:
        linear-gradient(rgba(var(--color), 0.3), rgba(var(--color), 0.3)),
        linear-gradient(black, black);
    box-shadow: 0 0 5px 3px rgba(var(--color), 0.2);
}
#tagList a {
    width: fit-content;
}
#tagCopyright   { --color: 240, 160, 240; }
#tagCharacter   { --color: 176, 224, 176; }
#tagArtist      { --color: 240, 160, 160; }
#tagGeneral     { --color: 145, 191, 237; }
#tagMetadata    { --color: 240, 240, 160; }

#raw {
    grid-area: raw;
}
.raw {
    overflow-x: scroll;
    background-color: #10141f;
    scrollbar-width: thin;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFF1;
    color: white;
}
.raw::selection {
    background-color: white;
    color: #10141f;
}
