:root {
    --accent-0: #040a04;
    --accent-1: #0f1a0e;
    --accent-2: #152414;
    --accent-3: #20361e;
    --accent-4: #32552f;
    --accent-5: #b1e7ac;
}

body {
    background-image: linear-gradient(to bottom, var(--accent-1), var(--accent-2));
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding: 125px 5%;
    margin: 0;
    font-family: system-ui;
}
a {
    text-decoration: none;
    color: white;
    width: fit-content;
}

div.warning {
    padding: 5px 20px;
    margin: 30px auto;
    width: fit-content;
    background-color: hsl(0, 73%, 21%);
    border: solid 1px #FFF1;
    border-radius: 20px;
    font-size: medium;
    box-shadow: 0 3px 15px 0 #0004;
}

div.left {
    display: flex;
    align-content: flex-start;
}

div.right {
    display: flex;
    align-content: flex-end;
}

#menuBar {
    z-index: 2;
    width: 100%;
    display: flex;
    position: fixed;
    padding: 5px 5% 5px 5%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, var(--accent-1), transparent);
}

#pageBar {
    z-index: 2;
    width: 100%;
    display: flex;
    position: fixed;
    padding: 5px 5% 5px 5%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, var(--accent-1), transparent);
}

#searchBar {
    width: 500px;
    max-width: 75%;
    padding: 5px;
    margin: 5px;
    border: solid 1px #FFF3;
    border-radius: 10px;
    background-color: #fbfbb3;
    font-size: 20px;
    font-family: monospace;
    color: black;
    outline: 0;
    transition:
        box-shadow 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000),
        transform 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
#searchBar:active {
    transform: translateY(2px);
}
#searchBar:focus {
    box-shadow: 0 3px 5px 3px #fbfbb344;
}

.menuButton {
    display: flex;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-family: system-ui;
    background-color: var(--accent-4);
    border: solid 1px #FFF3;
    border-radius: 10px;
    color: white;
    align-content: center;
    justify-content: center;
    transition: all 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
.menuButton:enabled {
    opacity: 1;
    cursor: pointer;
}
.menuButton:enabled:hover {
    box-shadow: 0 0 5px 3px var(--accent-4);
}
.menuButton:enabled:active {
    transform: translateY(2px);
}
.menuButton:disabled {
    opacity: 0.25;
}

select.menuButton {
    display: flex;
    padding: 5px 10px;
    margin: 5px;
    font-size: 1em;
    font-family: system-ui;
    background-color: var(--accent-4);
    border: solid 1px #FFF3;
    border-radius: 10px;
    color: white;
    align-content: center;
    justify-content: center;
    transition: all 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
select.menuButton:enabled {
    opacity: 1;
    cursor: pointer;
}
select.menuButton:enabled:hover {
    box-shadow: 0 0 5px 3px var(--accent-4);
}
select.menuButton:enabled:active {
    transform: translateY(2px);
}
select.menuButton:disabled {
    opacity: 0.25;
}

#postDisplay {
    width: 100%;
    grid-template-areas:
        "tags imageDisplay"
        "moreInfo imageDisplay"
        "buttons buttons"
        "raw raw";
    grid-gap: 10px;
    grid-template-columns: 1fr 4fr;
}

#imageDisplay {
    display: flex;
    max-height: 75vh;
    width: 100%;
    grid-area: imageDisplay;
    overflow: hidden;
    border: solid 1px #FFF1;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, var(--accent-1), var(--accent-2));
    background-attachment: fixed;
    background-size: cover;
}
#imageDisplay > * {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#buttons {
    grid-area: buttons;
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
}

div.button {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    font-family: system-ui;
    overflow-wrap: break-word;
    background-color: var(--accent-4);
    border: solid 1px #FFF3;
    border-radius: 10px;
    color: white;
    transition:
        box-shadow 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000),
        transform 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
div.button:hover {
    box-shadow: 0 0 5px 3px var(--accent-4);
}
div.button:active {
    transform: translateY(2px);
}
div.button svg {
    vertical-align: bottom;
}

div.card {
    background-color: var(--accent-3);
    padding: 20px;
    border: solid 1px #FFF1;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
div.card:hover {
    box-shadow: 0 3px 5px 3px #20361e44;
}
div.card *::selection {
    color: var(--accent-1);
    background-color: var(--accent-5);
}
div.card > .label {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: larger;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: solid #FFF2 2px;
}

#tags {
    overflow-y: scroll;
    grid-area: tags;
    min-width: min-content;
    max-height: 60vh;
}
#tagList ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}
#tagList li {
    display: inline-flex;
    width: fit-content;
    color: rgba(var(--color));
    border: solid rgba(var(--color)) 2px;
    border-radius: 5px;
    background-image:
        linear-gradient(rgba(var(--color), 0.2), rgba(var(--color), 0.2)),
        linear-gradient(black, black);
    padding: 2px 5px;
    margin: 2px;
    transition: all 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    overflow-wrap: break-word;
}
#tagList li:hover {
    background-image:
        linear-gradient(rgba(var(--color), 0.3), rgba(var(--color), 0.3)),
        linear-gradient(black, black);
    box-shadow: 0 0 5px 3px rgba(var(--color), 0.2);
}
#tagList a {
    width: fit-content;
}
#tagCopyright   { --color: 240, 160, 240; }
#tagCharacter   { --color: 176, 224, 176; }
#tagArtist      { --color: 240, 160, 160; }
#tagGeneral     { --color: 145, 191, 237; }
#tagMetadata    { --color: 240, 240, 160; }

#moreInfo {
    grid-area: moreInfo;
    height: fit-content;
}

#rawPostInfo {
    grid-area: raw;
}

div.raw {
    background-color: #10141f;
    padding: 10px;
    border: solid 1px #FFF1;
}
div.raw pre {
    color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    padding-left: 2ch;
    text-indent: -2ch;
}
.raw::selection {
    background-color: white;
    color: #10141f;
}

@media (max-width: 800px) {
    #postDisplay {
        grid-template-areas: "imageDisplay" "buttons" "moreInfo" "tags" "raw";
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
    }
}

#searchDisplay {
    margin: 0 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;

}

#searchDisplay > div.post {
    display: flex;
    justify-content: center;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: solid 1px #FFF1;
    border-radius: 10px;
    filter: none;
    z-index: 0;
    background-image: linear-gradient(to bottom, var(--accent-0), var(--accent-1));
    transition: all 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
#searchDisplay > div.post > a {
    display: block;
    width: 100%;
    height: 100%;
}
#searchDisplay > div.post > a > img, video {
    object-fit: contain;
    width: 100%;
    height: 100%;
    align-self: center;
}
#searchDisplay > div.postVideo {
    border: ridge 4px #4a63ed;
}
#searchDisplay > div.postGif {
    border: ridge 4px #71d1d9;
}
#searchDisplay > div:hover {
    border: solid 1px #FFF1;
    transform: scale(1.25);
    filter: drop-shadow(0 10px 30px #0008);
    z-index: 1;
}
#searchDisplay > div:active {
    border: solid 1px #FFF3;
    transform: scale(1.1) rotate(2deg);
    filter: drop-shadow(0 10px 30px #fff3);
    z-index: 1;
}

#stashDisplay {}
